@import '@fontsource-variable/open-sans';
@import '@fontsource/source-sans-pro';
@import '@fontsource/source-sans-pro/700.css';
@import '@fontsource/source-sans-pro/900.css';
@import '@fontsource/source-sans-pro/600.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input:focus {
    @apply !ring-sky-800;
  }
  textarea {
  }
}

.open {
  font-family: 'Open Sans Variable', sans-serif;
}

.source {
  font-family: 'Source Sans Pro', sans-serif;
}

.content {
  max-width: 1000px;
  padding-inline: 1rem;
  margin-inline: auto;
}

@media (min-width: 1080px) {
  .content {
    padding-inline: 0rem;
  }
}

#app {
  white-space: pre-line;
}
